
/* Positioning of demo elements */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Open Sans", Arial, sans-serif;
}
html, body, main {
	height: 100%;
}
main {
	padding: 1rem;
}
button {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 0.7rem;
	padding: 0.2rem;
	margin-right: 0.2rem;
}
.goban {
	float: left;
	width: 75%;
	height: 100%;
}
.goban-info {
	height: 100%;
	float: right;
	width: 22%;
}
.static {
	height: 150px;
	width: 150px;
	float: left;
	margin: 0 10px 10px 0;
}

/* Some player and board enhancements */
player {
	box-shadow: 0 0 15px rgba(60,30,20,0.3);
}
board {
	background: url('board.jpg');
}
