
/**
 * Player
 */
player {
  display: inline;
}

/**
 * Board
 */
board {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;

  /**
   * Layers
   */
  canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .grid { z-index: 10; }
  .shadow { z-index: 20; }
  .stones { z-index: 30; }
  .score { z-index: 40; }
  .markup { z-index: 50; }
  .hover { z-index: 60; }
}
